[submodule "media/joral/intelligence-edge"]
	path = media/joral/intelligence-edge
	url = git@github.com:Joral-LLC/intelligence-edge.git
[submodule "media/joral/media-gateway"]
	path = media/joral/media-gateway
	url = git@github.com:Joral-LLC/t1s-media-gateway.git
